#main{
      height: 150vh;
    box-sizing: border-box;
    width: 80%;
    left:10%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    margin: 0;
    padding: 0;
    text-align: center;
    position:absolute;
}

.your-class{
   width: 70%;
   display: inline-block;
   margin-top: 70px;
}

.cont{
    width: 100%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}

.cont img{
    max-width: 100%;
    max-height: 70%;
    display: inline-block;
    
}

.player1{
    border: solid 1px black;
    width: 49.85%;
    background-color: gray;
    height: 60px;
    display:inline-block;
    vertical-align: top;
    text-align: center;
}

.player2{
    border: solid 1px black;
    width: 49.85%;
    height: 60px;
    text-align: center;
    display:inline-block;
    background-color: gray;
    margin-left: -4px;
}
.player1 p{
    line-height: 60px;
    color:white;
    font-size: 25px;
    margin-top: 0px;
}

.player2 p{
    line-height: 60px;
    color:white;
    font-size: 25px;
    margin-top: 0px;
}


.FormularioPlayer1{
    border-radius: 20px;
    background-color: darkgray;
    height: 200px;
    width: 35%;
    margin-top: 30px;
    margin-left: 0%;
    display:inline-block;
    vertical-align: top;
    text-align: left;
}

.FormularioPlayer2{
    border-radius: 20px;
    background-color: darkgray;
    height: 200px;
    width: 35%;
    margin-top: 30px;
    margin-left: 1%;
    display:inline-block;
    text-align: left;
}

.text1{
    font-size: 23px;
    margin-left: 90px;
    
}

.text2{
    margin-left: 145px;
    font-size: 15px;
    
}
input{
    height: 25px;
    margin-top: 10px;
    margin-left: 20px;
    width: 170px;
}
select{
    height: 30px;
    margin-top: 10px;
    margin-left:20px; 
     width: 170px;
}

#edad{
    margin-left: 70px;
}

.Ply1Heroes,.Ply2Heroes{
    height: 150px;
    width: 49.75%;
    display: inline-block;
}

.Ply1Heroes img{
    
    height: 300px;
    width: 70%;
    margin-top: 50px;
    margin-left: 150px;
    
}

.Ply2Heroes img{
    height: 300px;
    width: 70%;
    left: 0px;
    margin-top: 50px;
    margin-right: 150px;
}

.fight{
    border:solid black 3px;
    font-size:25px;
    color:red;
    background-color: lightgray;
    text-align: center;
    margin-top: 30px;
    position:relative;
    height: 40px;
    }

