<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Local - Zona privada
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="local-privado.css")
	link(rel="stylesheet", href="https://file.myfontastic.com/dm7jDenL4r7N6cNfdgKQsZ/icons.css")
body
	.wrapper
		.header
		
		.botones
			.inicio
				a(href="#") Inicio
			.banderas
				a(href="#")
					.espana
				a(href="#")
					.catalunya
				a(href="#")
					.reino-unido
		
		.main
			
			h1 Zona Privada Local
			.grid-musicos
				.grid-1
					h3.grid-1__title Nous Musics
					p Texto
					p Texto
					p Texto

				.grid-2
					h3.grid-2__title Musics mes populars
					p Texto
					p Texto
					p Texto
				.grid-3
					h3.grid-3__title Calendari Concerts
					p Texto
					p Texto
					p Texto

			.grid-conciertos
				h2.grid-conciertos__title Els teus concerts
				.grid-conciertos-container
					.grid-1
						p Concerts Pendents
					.grid-2
						p Llista dels musics que més contractes
					.grid-3
						p Contractar Nou Music
						a(href="#") Contratar

			h2.conciertos__title Crear concert nou
			.container
				.first-row.grid Dia concert
				.second-row.grid Descripció concert, durada, temática...
				.third-row.grid Preu concert
				.third-row.grid Salari Musics
				.third-row.grid Aforo, total entrades disponibles
				.fourth-row.grid Equip del que disposa el local, llums, taules de so, altaveus, micros...
				.button
					a(href="#") Crear

			h2.conciertos__title Crear concert nou
			
			.grid-musicos
				.grid-1
					p.puntuacio Chat i comentaris sobre el teu local, possibilitat de poder respondre.

				.grid-2
					h3.grid-2__title Top 10 millors locals
					p Texto
					p Texto
					p Texto
				.grid-3
					h3.grid-3__title El teu lloc en el ranking
					p Texto
					p Texto
					p Texto

			.dades-suscripcio
				p Dades de la teva suscripció per el serevei prémim (pagar per millorar posicionament)
				a(href="#") Anular suscripció
				a(href="#") Renovar suscripció

		footer.footer
			.footer__about
				p &copy Proyecto Transversal 2016
				p All rights reserved
			.footer__social
				a.icon-facebook(href="")
				a.icon-twitter(href="")
				a.icon-instagram(href="")
				a.icon-google-plus(href="")
